#foto_me{
    width:600px;
    margin-left: -30px;
    text-align: left;
    
}

html{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: rgb(227, 255, 241);
}

.subhead_skills{
    font-style: unset;
    font-weight: bolder;
}

#table_skills{
    background-color: ivory;
    width: 500px ;
}

td, th{
    padding: 10px;
}

#atributos{
    text-align: center;
    margin-top: -20px ;
    margin-left: 10px;
    color: darkslategrey;
}

#Name, .Head{
    text-align: left;
    margin-left: -190px;
    font-weight: bold;
}

#Name{
    color: darkcyan;
}
